<app-nav></app-nav>
<br />
<button mat-button mat-raised-button color="primary" (click)="nuevo()">
  Agregar
</button>
<br />
<br />
<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  aria-describedby=""
>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef>Password</th>
    <td mat-cell *matCellDef="let element">{{ element.password }}</td>
  </ng-container>
  <ng-container matColumnDef="accion">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-button
        routerLink="link"
        color="warn"
        (click)="deleteUser(element.id)"
      >
        <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
      </button>
      <button
        mat-button
        routerLink="link"
        color="accent"
        (click)="editar(element.id)"
      >
        <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
