<h2 mat-dialog-title>Editar usuario</h2>
<mat-dialog-content class="mat-typography">
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="formNuevo"
    fxLayoutAlign="stretch"
    fxLayout="column"
  >
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input
        type="text"
        matInput
        formControlName="name"
        placeholder="example"
      />

      <mat-error *ngIf="form['email'].errors">
        Este campo es obligatorio</mat-error
      >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="example@example.com"
      />

      <mat-error *ngIf="form['email'].errors">
        Este campo es obligatorio</mat-error
      >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="password"
      />
      <mat-error *ngIf="form['password'].errors">
        Este campo es obligatorio</mat-error
      >
    </mat-form-field>
    <button mat-button mat-raised-button type="submit">Guardar</button>
  </form>
</mat-dialog-content>
